.switch-toggle {
    float: left;
    background: #6aa7f7;
    border-radius: 20px;
    height: 38px;
  }
  .switch-toggle input {
   position: absolute;
   opacity: 0;
  }
  .switch-toggle input + label {
   padding: 7px;
   float:left;
   color: #fff;
   cursor: pointer;
  }
  .switch-toggle input:checked + label {
   background: #167bff;
   border-radius: 20px;
  }
  
  .switch-block label{
    cursor: pointer;
  }

  .switch-block{
    text-align: center;
  }
  .recycle-bin-container{
      display: flex;
      flex-direction: column;
  }
  .top-switches{
    display: flex;
    justify-content: center;
  }