.ticket-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: 1px solid black;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #fff;

    p{
        flex: 1 1 auto;
        margin: 0 0 0 10px;
    }

        .update-pen{
            width: 5%;
            cursor: pointer;
        }
        .delete-btn{
            padding: 0 5px;
            background-color: #ff0000;
            border: 0;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            outline: 0;
        }
        .delete-btn:active{
            background-color: rgba(200, 0, 0,1);
        }
    .update-input{
        border-radius: 2px;
        border: 1px solid black;
        outline: 0;
        margin: 0 0 0 15px;
    }
    .update-input:focus{
        border: 1px solid #85BF31;
    }
    .save-btn{
        padding: 5px 10px;
        background-color: #85BF31;
        border: 0;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        outline: 0;
    }
    .save-btn:active{
        background-color: rgba(0, 200, 0,1);
    }
}