.ticket-row{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #fff;

    p{
        margin: 0 0 0 10px;
    }

    .ticket-btn{
        padding: 0 5px;
        background-color: rgba(255,0,0,0);
        border: 0;
        border-radius: 2px;
        color: #000;
        cursor: pointer;
        outline: 0;
    }
    .ticket-btn:active{
        background-color: rgba(255, 0, 0,1);
    }
}