.header-container{
    width:60%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background: rgb(155, 185, 247);
    border-radius: 10px;
    .navb-light{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        .navb-nav{
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            .nav-item{
                text-decoration: none;
                color:white;
                display: flex;
                justify-content: flex-end;

                .header-ico{
                    width: 10%;
                }
            }
            
        }
        .pages{
            flex: 0 0 30%;
            margin: 0;
        }
        .recycle-bin{
            flex: 0 0 auto;
            margin: 0;
        }
    }
}