.add-button{
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: #167bff;
    border: none;
    display: block;
    border-radius: 30px;
    margin: 10px auto;
    outline: 0;
    cursor: pointer;
}
.title-input{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    position: relative;
    border: 1px solid #167bff;
    margin: 0 auto;
    outline: 0;
    text-align: center;
}
.new-ticket-form{
    display: flex;
    flex-direction: column;
}