.user-container{
    display: flex;
    justify-content: space-between;

    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.user-menu{
    display: flex;
}

.user-menu *{
    margin: 0px 5px;
}